{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<!---------------Portfolio---------------->
<div class="experienceHeader"><h1>Portfolio</h1></div>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <div class="text-center">
                        <h5 class="card-title">wordSearcher</h5>
                    </div>
                </div>
                <p class="card-text">
                    <ul>
                        
                    </ul>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <img class="rounded-circle mr-3" alt="Convent & Stuart Hall" src="/static/conventlogo.png" width="50" height="50" />
                    <div class="text-center">
                        <h5 class="card-title">Technology Assistant</h5>
                        <h6 class="card-subtitle mb-1 text-muted">Convent & Stuart Hall (2022)</h6>
                    </div>
                </div>
                <p class="card-text">
                <ul>
                    
                </ul>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <img class="rounded-circle mr-3" alt="Convent & Stuart Hall" src="/static/conventlogo.png" width="50" height="50" />
                    <div class="text-center">
                        <h5 class="card-title">Technology Intern</h5>
                        <h6 class="card-subtitle mb-1 text-muted">Convent & Stuart Hall (2021)</h6>
                    </div>
                </div>
                <p class="card-text">
                <ul>
                    <li>Facilitated faculty device transfers by moving their data and preparing their new computers.</li>
                    <li>Set up new devices across campus like TVs in every classroom.</li>
                    <li>Organized an e-recycling program for the school's students and administration.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}