{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<!---------------Portfolio---------------->
<div class="experienceHeader"><h1>Portfolio</h1></div>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <div class="text-center">
                        <h5 class="card-title">wordSearcher</h5>
                        <h6 class="card-subtitle mb-1 text-muted">Java</h6>
                    </div>
                </div>
                <p class="card-text">
                    <ul>
                        I created this project for my International Baccalaureate Computer Science HL class. It allows a user to lookup a word they would like to learn more about in context. The program scrapes sentences containing the word from the web and outputs them. There is also a simple game for the user to test their knowledge. I achieved the highest grade possible for this Assessment.
                    </ul>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <div class="text-center">
                        <h5 class="card-title">Personal Website</h5>
                        <h6 class="card-subtitle mb-1 text-muted">HTML/CSS/Javascript</h6>
                    </div>
                </div>
                <p class="card-text">
                    <ul>
                        This is my personal portfolio website. It was coded entirely by me as an exploration into web development.
                    </ul>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-body-content">
                    <div class="text-center">
                        <h5 class="card-title">Saint Francis Woods Bookclub</h5>
                        <h6 class="card-subtitle mb-1 text-muted">Python/Jinja/HTML</h6>
                    </div>
                </div>
                <p class="card-text">
                    <ul>
                        This is a webapp for my community's bookclub. They were looking for a way to schedule meetings online and record the history of all the meetings. It has both a regular view and an admin login to edit information direclty from the website.
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}